In [2]:
import pandas as pd

In [36]:
titlesdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titles.csv", sep=';')

In [5]:
creditsdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\credits.csv", sep=';')

In [ ]:
creditsdf

In [4]:
titlesdf

,Unnamed: 0,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

In [9]:
titleslessdf = titlesdf[["id","title","type","release_year","runtime","genres","production_countries","seasons","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [54]:
def convert(lst):
    return eval(lst)

In [ ]:
titleslessdf["genres"] = titleslessdf["genres"].apply(lambda x : convert(x))

In [59]:
titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

C:\Users\tyto4\AppData\Local\Temp\ipykernel_19144\134916437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

In [65]:
titleslessdf["genres"].explode().unique()

array(['documentation', 'crime', 'drama', 'comedy', 'fantasy', 'horror',
       'european', 'thriller', 'action', 'music', 'romance', 'family',
       'western', 'war', 'animation', 'history', 'scifi', 'reality',
       'sport', nan], dtype=object)

In [66]:
titleslessdf["production_countries"].explode().unique()

array(['US', 'GB', 'JP', 'EG', 'DE', 'IN', nan, 'DZ', 'LB', 'FR', 'CA',
       'SU', 'IT', 'HK', 'AR', 'KW', 'PE', 'BR', 'IE', 'GH', 'BF', 'ES',
       'MX', 'AU', 'CO', 'BE', 'NO', 'PS', 'TR', 'BS', 'CZ', 'IS', 'DK',
       'NZ', 'CN', 'KR', 'BG', 'RU', 'SG', 'MA', 'UY', 'TW', 'MY', 'CH',
       'CL', 'NG', 'ZA', 'SA', 'AT', 'NL', 'SE', 'PH', 'Lebanon', 'TH',
       'XX', 'AE', 'HU', 'ID', 'IL', 'FI', 'RO', 'CD', 'PL', 'VE', 'UA',
       'IR', 'JO', 'QA', 'LU', 'BY', 'SK', 'HR', 'SY', 'GL', 'PT', 'PK',
       'VN', 'PR', 'IQ', 'KH', 'GE', 'CU', 'KE', 'VA', 'RS', 'AL', 'TZ',
       'TN', 'ZW', 'PY', 'NP', 'GR', 'CM', 'BD', 'KG', 'LT', 'CY', 'SN',
       'MW', 'IO', 'MU', 'LK', 'AO', 'GT', 'MZ', 'AF', 'NA', 'FO'],
      dtype=object)

In [ ]:
#dfless["EVENT_TYPE"].value_counts()
#dfless["REGION"].value_counts()

In [67]:
titleslessdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslessdf.csv",sep=";")

In [68]:
titleslessdf

,id,title,type,release_year,runtime,genres,production_countries,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,48,[documentation],[US],1.0,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,1976,113,"[crime, drama]",[US],NaN,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"[comedy, fantasy]",[GB],NaN,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,1979,94,[comedy],[GB],NaN,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,1973,133,[horror],[US],NaN,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,2021,100,"[romance, drama]",[NG],NaN,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,2021,74,"[music, documentation]",[],NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,2021,88,"[family, drama]","[NG, CA]",NaN,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,2021,116,"[action, thriller]",[],NaN,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"[family, comedy, animation]",[],1.0,8.8,16.0,0.979,10.0