In [2]:
import pandas as pd

In [3]:
titleslesslessdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslesslessdf.csv", index_col=False)

In [4]:
titleslesslessdf.reset_index(drop=True,inplace=True)

In [5]:
titleslesslessdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,numberTags
0,tm84618,Taxi Driver,MOVIE,1976,113,"['crime', 'drama']",0.0,8.3,795222.0,27.612,8.2,2
1,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"['comedy', 'fantasy']",0.0,8.2,530877.0,18.216,7.8,2
2,tm70993,Life of Brian,MOVIE,1979,94,['comedy'],0.0,8.0,392419.0,17.505,7.8,1
3,tm190788,The Exorcist,MOVIE,1973,133,['horror'],0.0,8.1,391942.0,95.337,7.7,1
4,ts22164,Monty Python's Flying Circus,SHOW,1969,30,"['comedy', 'european']",4.0,8.8,72895.0,12.919,8.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5036,tm1097142,My Bride,MOVIE,2021,93,"['comedy', 'drama', 'romance']",0.0,4.9,281.0,2.923,5.3,3
5037,tm878575,The Heartbreak Club,MOVIE,2021,101,"['comedy', 'drama', 'romance']",0.0,6.2,188.0,2.227,8.0,3
5038,ts286386,The Big Day,SHOW,2021,45,"['reality', 'romance']",2.0,4.6,327.0,1.400,6.0,2
5039,tm1004011,Time to Dance,MOVIE,2021,107,"['drama', 'romance']",0.0,2.2,950.0,2.911,4.0,2
5040,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"['family', 'comedy', 'animation']",1.0,8.8,16.0,0.979,10.0,3

In [ ]:
# del titleslesslessdf["Unnamed: 0"]

In [6]:
moviedf = titleslesslessdf[titleslesslessdf["type"] == "MOVIE"]

In [7]:
showdf = titleslesslessdf[titleslesslessdf["type"] == "SHOW"]

In [8]:
showdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,numberTags
4,ts22164,Monty Python's Flying Circus,SHOW,1969,30,"['comedy', 'european']",4.0,8.8,72895.0,12.919,8.3,2
28,ts45948,Monty Python's Fliegender Zirkus,SHOW,1972,43,['comedy'],1.0,8.1,2144.0,1.490,7.0,1
43,ts20681,Seinfeld,SHOW,1989,24,['comedy'],9.0,8.9,302700.0,128.743,8.3,1
51,ts22082,Knight Rider,SHOW,1982,51,"['action', 'scifi', 'crime', 'drama']",4.0,6.9,33760.0,44.378,7.5,4
53,ts21715,Thomas & Friends,SHOW,1984,10,"['family', 'comedy', 'music', 'action', 'anima...",24.0,6.5,4948.0,49.384,6.6,7
...,...,...,...,...,...,...,...,...,...,...,...,...
5018,ts309235,Christmas Flow,SHOW,2021,50,"['music', 'romance', 'comedy']",1.0,5.8,702.0,6.925,6.9,3
5020,ts307816,Korean Cold Noodle Rhapsody,SHOW,2021,49,['documentation'],1.0,7.3,15.0,1.834,4.0,1
5029,ts273317,Pitta Kathalu,SHOW,2021,37,"['drama', 'romance']",1.0,5.1,727.0,1.400,5.5,2
5038,ts286386,The Big Day,SHOW,2021,45,"['reality', 'romance']",2.0,4.6,327.0,1.400,6.0,2
5040,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"['family', 'comedy', 'animation']",1.0,8.8,16.0,0.979,10.0,3

In [9]:
moviedf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\moviedf.csv",sep=",",index=False)
showdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\showdf.csv",sep=",",index=False)