In [1]:
import pandas as pd

In [2]:
titlesdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titles.csv", sep=';', index_col=False)

In [3]:
creditsdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\credits.csv", sep=';', index_col=False)

In [6]:
creditsdf

,Unnamed: 0,person_id,id,name,character,role
0,0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...,...
77208,77208,1347054,tm1098060,Nnenna Rachael Okonkwo,Afinni,ACTOR
77209,77209,157590,tm1098060,Lucien Morgan,Dr. Ian Stones,ACTOR
77210,77210,129059,tm1098060,Magdalena Korpas,Jane,ACTOR
77211,77211,2050199,tm1098060,Mistura Olusanya,Nurse Titi,ACTOR
77212,77212,2050423,tm1098060,Yemi Amodu,NaN,DIRECTOR

In [4]:
titlesdf

,Unnamed: 0,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

In [5]:
titleslessdf = titlesdf[["id","title","type","release_year","runtime","genres","production_countries","seasons","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [9]:
titleslesslessdf = titleslessdf[["id","title","type","release_year","runtime","imdb_score","imdb_votes","tmdb_popularity","tmdb_score","seasons"]]

In [9]:
titleslesslessdf = titleslessdf.drop("production_countries", axis=1)

In [10]:
titleslesslessdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,48,['documentation'],1.0,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,1976,113,"['crime', 'drama']",NaN,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"['comedy', 'fantasy']",NaN,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,1979,94,['comedy'],NaN,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,1973,133,['horror'],NaN,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,2021,100,"['romance', 'drama']",NaN,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,2021,74,"['music', 'documentation']",NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,2021,88,"['family', 'drama']",NaN,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,2021,116,"['action', 'thriller']",NaN,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"['family', 'comedy', 'animation']",1.0,8.8,16.0,0.979,10.0

In [12]:
titleslesslessdf=titleslesslessdf.dropna(subset=["release_year","genres","release_year","runtime","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"])

In [13]:
titleslesslessdf["seasons"]=titleslesslessdf["seasons"].fillna(0)

In [14]:
titleslesslessdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1,tm84618,Taxi Driver,MOVIE,1976,113,"['crime', 'drama']",0.0,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"['comedy', 'fantasy']",0.0,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,1979,94,['comedy'],0.0,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,1973,133,['horror'],0.0,8.1,391942.0,95.337,7.7
5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,"['comedy', 'european']",4.0,8.8,72895.0,12.919,8.3
...,...,...,...,...,...,...,...,...,...,...,...
5792,tm1097142,My Bride,MOVIE,2021,93,"['comedy', 'drama', 'romance']",0.0,4.9,281.0,2.923,5.3
5795,tm878575,The Heartbreak Club,MOVIE,2021,101,"['comedy', 'drama', 'romance']",0.0,6.2,188.0,2.227,8.0
5796,ts286386,The Big Day,SHOW,2021,45,"['reality', 'romance']",2.0,4.6,327.0,1.400,6.0
5798,tm1004011,Time to Dance,MOVIE,2021,107,"['drama', 'romance']",0.0,2.2,950.0,2.911,4.0
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"['family', 'comedy', 'animation']",1.0,8.8,16.0,0.979,10.0

In [15]:
def convert(lst):
    return eval(lst)

In [16]:
titleslesslessdf["genres"] = titleslesslessdf["genres"].apply(lambda x : convert(x))

In [23]:
titleslesslessdf["numberTags"] = titleslesslessdf["genres"].apply(lambda x : len(x))

In [26]:
titleslesslessdf["numberTags"].max()

9

In [27]:
titleslesslessdf["title"][titleslesslessdf["numberTags"]==9]

371                       Black Butler
729                   Sword Art Online
3636    Invader ZIM: Enter the Florpus
Name: title, dtype: object

In [33]:
titleslesslessdf["imdb_score"][3636]

7.4

In [34]:
titleslesslessdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,numberTags
1,tm84618,Taxi Driver,MOVIE,1976,113,"[crime, drama]",0.0,8.3,795222.0,27.612,8.2,2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"[comedy, fantasy]",0.0,8.2,530877.0,18.216,7.8,2
3,tm70993,Life of Brian,MOVIE,1979,94,[comedy],0.0,8.0,392419.0,17.505,7.8,1
4,tm190788,The Exorcist,MOVIE,1973,133,[horror],0.0,8.1,391942.0,95.337,7.7,1
5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,"[comedy, european]",4.0,8.8,72895.0,12.919,8.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5792,tm1097142,My Bride,MOVIE,2021,93,"[comedy, drama, romance]",0.0,4.9,281.0,2.923,5.3,3
5795,tm878575,The Heartbreak Club,MOVIE,2021,101,"[comedy, drama, romance]",0.0,6.2,188.0,2.227,8.0,3
5796,ts286386,The Big Day,SHOW,2021,45,"[reality, romance]",2.0,4.6,327.0,1.400,6.0,2
5798,tm1004011,Time to Dance,MOVIE,2021,107,"[drama, romance]",0.0,2.2,950.0,2.911,4.0,2
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"[family, comedy, animation]",1.0,8.8,16.0,0.979,10.0,3

In [ ]:
#titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

In [35]:
titleslesslessdf["release_year"] = titleslesslessdf["release_year"].astype(str)
titleslesslessdf["runtime"] = titleslesslessdf["runtime"].astype(str)
titleslesslessdf["imdb_score"] = titleslesslessdf["imdb_score"].astype(str)
titleslesslessdf["imdb_votes"] = titleslesslessdf["imdb_votes"].astype(str)
titleslesslessdf["tmdb_popularity"] = titleslesslessdf["tmdb_popularity"].astype(str)
titleslesslessdf["tmdb_score"] = titleslesslessdf["tmdb_score"].astype(str)
titleslesslessdf["seasons"] = titleslesslessdf["seasons"].astype(str)
titleslesslessdf["numberTags"] = titleslesslessdf["numberTags"].astype(str)

In [36]:
type(titleslesslessdf["numberTags"][5])

str

In [37]:
titleslesslessdf

,id,title,type,release_year,runtime,genres,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,numberTags
1,tm84618,Taxi Driver,MOVIE,1976,113,"[crime, drama]",0.0,8.3,795222.0,27.612,8.2,2
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,"[comedy, fantasy]",0.0,8.2,530877.0,18.216,7.8,2
3,tm70993,Life of Brian,MOVIE,1979,94,[comedy],0.0,8.0,392419.0,17.505,7.8,1
4,tm190788,The Exorcist,MOVIE,1973,133,[horror],0.0,8.1,391942.0,95.337,7.7,1
5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,"[comedy, european]",4.0,8.8,72895.0,12.919,8.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
5792,tm1097142,My Bride,MOVIE,2021,93,"[comedy, drama, romance]",0.0,4.9,281.0,2.923,5.3,3
5795,tm878575,The Heartbreak Club,MOVIE,2021,101,"[comedy, drama, romance]",0.0,6.2,188.0,2.227,8.0,3
5796,ts286386,The Big Day,SHOW,2021,45,"[reality, romance]",2.0,4.6,327.0,1.4,6.0,2
5798,tm1004011,Time to Dance,MOVIE,2021,107,"[drama, romance]",0.0,2.2,950.0,2.911,4.0,2
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,"[family, comedy, animation]",1.0,8.8,16.0,0.979,10.0,3

In [38]:
titleslesslessdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslesslessdf.csv",sep=",",index=False)

In [101]:
##########################

In [104]:
#titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\134916437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

In [105]:
#titleslessdf["genres"].explode().unique()

array(['documentation', 'crime', 'drama', 'comedy', 'fantasy', 'horror',
       'european', 'thriller', 'action', 'music', 'romance', 'family',
       'western', 'war', 'animation', 'history', 'scifi', 'reality',
       'sport', nan], dtype=object)

In [106]:
#titleslessdf["production_countries"].explode().unique()

array(['US', 'GB', 'JP', 'EG', 'DE', 'IN', nan, 'DZ', 'LB', 'FR', 'CA',
       'SU', 'IT', 'HK', 'AR', 'KW', 'PE', 'BR', 'IE', 'GH', 'BF', 'ES',
       'MX', 'AU', 'CO', 'BE', 'NO', 'PS', 'TR', 'BS', 'CZ', 'IS', 'DK',
       'NZ', 'CN', 'KR', 'BG', 'RU', 'SG', 'MA', 'UY', 'TW', 'MY', 'CH',
       'CL', 'NG', 'ZA', 'SA', 'AT', 'NL', 'SE', 'PH', 'Lebanon', 'TH',
       'XX', 'AE', 'HU', 'ID', 'IL', 'FI', 'RO', 'CD', 'PL', 'VE', 'UA',
       'IR', 'JO', 'QA', 'LU', 'BY', 'SK', 'HR', 'SY', 'GL', 'PT', 'PK',
       'VN', 'PR', 'IQ', 'KH', 'GE', 'CU', 'KE', 'VA', 'RS', 'AL', 'TZ',
       'TN', 'ZW', 'PY', 'NP', 'GR', 'CM', 'BD', 'KG', 'LT', 'CY', 'SN',
       'MW', 'IO', 'MU', 'LK', 'AO', 'GT', 'MZ', 'AF', 'NA', 'FO'],
      dtype=object)

In [107]:
#dfless["EVENT_TYPE"].value_counts()
#dfless["REGION"].value_counts()