In [75]:
import pandas as pd

In [76]:
titlesdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titles.csv", sep=';')

In [77]:
creditsdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\credits.csv", sep=';')

In [78]:
creditsdf

,Unnamed: 0,person_id,id,name,character,role
0,0,3748,tm84618,Robert De Niro,Travis Bickle,ACTOR
1,1,14658,tm84618,Jodie Foster,Iris Steensma,ACTOR
2,2,7064,tm84618,Albert Brooks,Tom,ACTOR
3,3,3739,tm84618,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR
4,4,48933,tm84618,Cybill Shepherd,Betsy,ACTOR
...,...,...,...,...,...,...
77208,77208,1347054,tm1098060,Nnenna Rachael Okonkwo,Afinni,ACTOR
77209,77209,157590,tm1098060,Lucien Morgan,Dr. Ian Stones,ACTOR
77210,77210,129059,tm1098060,Magdalena Korpas,Jane,ACTOR
77211,77211,2050199,tm1098060,Mistura Olusanya,Nurse Titi,ACTOR
77212,77212,2050423,tm1098060,Yemi Amodu,NaN,DIRECTOR

In [79]:
titlesdf

,Unnamed: 0,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

In [80]:
titleslessdf = titlesdf[["id","title","type","release_year","runtime","genres","production_countries","seasons","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [81]:
titleslesslessdf = titleslessdf[["id","title","type","release_year","runtime","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"]]

In [82]:
titleslesslessdf

,id,title,type,release_year,runtime,imdb_score,imdb_votes,tmdb_popularity
0,ts300399,Five Came Back: The Reference Films,SHOW,1945,48,NaN,NaN,0.600
1,tm84618,Taxi Driver,MOVIE,1976,113,8.3,795222.0,27.612
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,8.2,530877.0,18.216
3,tm70993,Life of Brian,MOVIE,1979,94,8.0,392419.0,17.505
4,tm190788,The Exorcist,MOVIE,1973,133,8.1,391942.0,95.337
...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,2021,100,6.9,39.0,0.966
5802,tm1108171,Edis Starlight,MOVIE,2021,74,NaN,NaN,1.036
5803,tm1045018,Clash,MOVIE,2021,88,6.5,32.0,0.709
5804,tm1098060,Shadow Parties,MOVIE,2021,116,6.2,9.0,2.186
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,8.8,16.0,0.979

In [83]:
titleslesslessdf=titleslesslessdf.dropna(subset=["release_year","runtime","imdb_score","imdb_votes","tmdb_popularity","tmdb_score"])

In [84]:
titleslesslessdf

,id,title,type,release_year,runtime,imdb_score,imdb_votes,tmdb_popularity
1,tm84618,Taxi Driver,MOVIE,1976,113,8.3,795222.0,27.612
2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,8.2,530877.0,18.216
3,tm70993,Life of Brian,MOVIE,1979,94,8.0,392419.0,17.505
4,tm190788,The Exorcist,MOVIE,1973,133,8.1,391942.0,95.337
5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,8.8,72895.0,12.919
...,...,...,...,...,...,...,...,...
5800,tm1040816,Momshies! Your Soul is Mine,MOVIE,2021,108,5.8,26.0,4.112
5801,tm1014599,Fine Wine,MOVIE,2021,100,6.9,39.0,0.966
5803,tm1045018,Clash,MOVIE,2021,88,6.5,32.0,0.709
5804,tm1098060,Shadow Parties,MOVIE,2021,116,6.2,9.0,2.186
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,8.8,16.0,0.979

In [85]:
titleslesslessdf["release_year"] = titleslesslessdf["release_year"].astype(str)
titleslesslessdf["runtime"] = titleslesslessdf["runtime"].astype(str)
titleslesslessdf["imdb_score"] = titleslesslessdf["imdb_score"].astype(str)
titleslesslessdf["imdb_votes"] = titleslesslessdf["imdb_votes"].astype(str)
titleslesslessdf["tmdb_popularity"] = titleslesslessdf["tmdb_popularity"].astype(str)
titleslesslessdf["tmdb_score"] = titleslesslessdf["tmdb_score"].astype(str)

C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\3242675975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslesslessdf["release_year"] = titleslesslessdf["release_year"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\3242675975.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslesslessdf["runtime"] = titleslesslessdf["runtime"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\3242675975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslesslessdf["imdb_score"] = titleslesslessdf["imdb_score"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\3242675975.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslesslessdf["imdb_votes"] = titleslesslessdf["imdb_votes"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\3242675975.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslesslessdf["tmdb_popularity"] = titleslesslessdf["tmdb_popularity"].astype(str)

In [87]:
type(titleslesslessdf["tmdb_popularity"][5])

str

In [ ]:
titleslesslessdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslesslessdf.csv",sep=",")

In [ ]:
##########################

In [ ]:
def convert(lst):
    return eval(lst)

In [ ]:
titleslessdf["genres"] = titleslessdf["genres"].apply(lambda x : convert(x))

C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\2153320599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["genres"] = titleslessdf["genres"].apply(lambda x : convert(x))

In [ ]:
titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\134916437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["production_countries"] = titleslessdf["production_countries"].apply(lambda x : convert(x))

In [ ]:
titleslessdf["genres"].explode().unique()

array(['documentation', 'crime', 'drama', 'comedy', 'fantasy', 'horror',
       'european', 'thriller', 'action', 'music', 'romance', 'family',
       'western', 'war', 'animation', 'history', 'scifi', 'reality',
       'sport', nan], dtype=object)

In [ ]:
titleslessdf["production_countries"].explode().unique()

array(['US', 'GB', 'JP', 'EG', 'DE', 'IN', nan, 'DZ', 'LB', 'FR', 'CA',
       'SU', 'IT', 'HK', 'AR', 'KW', 'PE', 'BR', 'IE', 'GH', 'BF', 'ES',
       'MX', 'AU', 'CO', 'BE', 'NO', 'PS', 'TR', 'BS', 'CZ', 'IS', 'DK',
       'NZ', 'CN', 'KR', 'BG', 'RU', 'SG', 'MA', 'UY', 'TW', 'MY', 'CH',
       'CL', 'NG', 'ZA', 'SA', 'AT', 'NL', 'SE', 'PH', 'Lebanon', 'TH',
       'XX', 'AE', 'HU', 'ID', 'IL', 'FI', 'RO', 'CD', 'PL', 'VE', 'UA',
       'IR', 'JO', 'QA', 'LU', 'BY', 'SK', 'HR', 'SY', 'GL', 'PT', 'PK',
       'VN', 'PR', 'IQ', 'KH', 'GE', 'CU', 'KE', 'VA', 'RS', 'AL', 'TZ',
       'TN', 'ZW', 'PY', 'NP', 'GR', 'CM', 'BD', 'KG', 'LT', 'CY', 'SN',
       'MW', 'IO', 'MU', 'LK', 'AO', 'GT', 'MZ', 'AF', 'NA', 'FO'],
      dtype=object)

In [ ]:
#dfless["EVENT_TYPE"].value_counts()
#dfless["REGION"].value_counts()

In [ ]:
titleslessdf["release_year"] = titleslessdf["release_year"].astype(str)
titleslessdf["runtime"] = titleslessdf["runtime"].astype(str)
titleslessdf["imdb_score"] = titleslessdf["imdb_score"].astype(str)
titleslessdf["imdb_votes"] = titleslessdf["imdb_votes"].astype(str)

C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\2948144122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["release_year"] = titleslessdf["release_year"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\2948144122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["runtime"] = titleslessdf["runtime"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\2948144122.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["imdb_score"] = titleslessdf["imdb_score"].astype(str)
C:\Users\tyto4\AppData\Local\Temp\ipykernel_11512\2948144122.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titleslessdf["imdb_votes"] = titleslessdf["imdb_votes"].astype(str)

In [ ]:
titleslessdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslessdf.csv",sep=";")

In [ ]:
type(titleslessdf["imdb_votes"][2])

str