In [1]:
import pandas as pd

In [7]:
titleslesslessdf = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\titleslesslessdf.csv", sep=',',index_col=False)

In [8]:
titleslesslessdf

,Unnamed: 0,id,title,type,release_year,runtime,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,1,tm84618,Taxi Driver,MOVIE,1976,113,8.3,795222.0,27.612,8.2
1,2,tm127384,Monty Python and the Holy Grail,MOVIE,1975,91,8.2,530877.0,18.216,7.8
2,3,tm70993,Life of Brian,MOVIE,1979,94,8.0,392419.0,17.505,7.8
3,4,tm190788,The Exorcist,MOVIE,1973,133,8.1,391942.0,95.337,7.7
4,5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,8.8,72895.0,12.919,8.3
...,...,...,...,...,...,...,...,...,...,...
5036,5792,tm1097142,My Bride,MOVIE,2021,93,4.9,281.0,2.923,5.3
5037,5795,tm878575,The Heartbreak Club,MOVIE,2021,101,6.2,188.0,2.227,8.0
5038,5796,ts286386,The Big Day,SHOW,2021,45,4.6,327.0,1.400,6.0
5039,5798,tm1004011,Time to Dance,MOVIE,2021,107,2.2,950.0,2.911,4.0
5040,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,8.8,16.0,0.979,10.0

In [9]:
moviedf = titleslesslessdf[titleslesslessdf["type"] == "MOVIE"]

In [11]:
showdf = titleslesslessdf[titleslesslessdf["type"] == "SHOW"]

In [12]:
showdf

,Unnamed: 0,id,title,type,release_year,runtime,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
4,5,ts22164,Monty Python's Flying Circus,SHOW,1969,30,8.8,72895.0,12.919,8.3
28,29,ts45948,Monty Python's Fliegender Zirkus,SHOW,1972,43,8.1,2144.0,1.490,7.0
43,47,ts20681,Seinfeld,SHOW,1989,24,8.9,302700.0,128.743,8.3
51,55,ts22082,Knight Rider,SHOW,1982,51,6.9,33760.0,44.378,7.5
53,57,ts21715,Thomas & Friends,SHOW,1984,10,6.5,4948.0,49.384,6.6
...,...,...,...,...,...,...,...,...,...,...
5018,5768,ts309235,Christmas Flow,SHOW,2021,50,5.8,702.0,6.925,6.9
5020,5770,ts307816,Korean Cold Noodle Rhapsody,SHOW,2021,49,7.3,15.0,1.834,4.0
5029,5785,ts273317,Pitta Kathalu,SHOW,2021,37,5.1,727.0,1.400,5.5
5038,5796,ts286386,The Big Day,SHOW,2021,45,4.6,327.0,1.400,6.0
5040,5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,2021,0,8.8,16.0,0.979,10.0

In [13]:
moviedf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\moviedf.csv",sep=",")
showdf.to_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR_Netflix_TVShows_Movies_VAD\Data\AufbereiteteDaten\showdf.csv",sep=",")