In [3]:
import pandas as pd

In [25]:
df = pd.read_csv(r"C:\Users\tyto4\OneDrive\Dokumente\0_Winfo_MA\SS22_IR\IR-African_Conflicts-VAD\Daten\Africa_1997-2020_Jan08.csv", sep=';')

In [26]:
df.columns.values.tolist()

['ISO',
 'EVENT_ID_CNTY',
 'EVENT_ID_NO_CNTY',
 'EVENT_DATE',
 'YEAR',
 'TIME_PRECISION',
 'EVENT_TYPE',
 'SUB_EVENT_TYPE',
 'ACTOR1',
 'ASSOC_ACTOR_1',
 'INTER1',
 'ACTOR2',
 'ASSOC_ACTOR_2',
 'INTER2',
 'INTERACTION',
 'REGION',
 'COUNTRY',
 'ADMIN1',
 'ADMIN2',
 'ADMIN3',
 'LOCATION',
 'LATITUDE',
 'LONGITUDE',
 'GEO_PRECISION',
 'SOURCE',
 'SOURCE_SCALE',
 'NOTES',
 'FATALITIES',
 'TIMESTAMP']

In [30]:
dfless = df[["EVENT_DATE","YEAR","EVENT_TYPE","REGION","COUNTRY","FATALITIES"]]

In [31]:
dfless

,EVENT_DATE,YEAR,EVENT_TYPE,REGION,COUNTRY,FATALITIES
0,01-janvier-1997,1997,Violence against civilians,Northern Africa,Algeria,5
1,02-janvier-1997,1997,Violence against civilians,Northern Africa,Algeria,2
2,03-janvier-1997,1997,Violence against civilians,Northern Africa,Algeria,2
3,04-janvier-1997,1997,Violence against civilians,Northern Africa,Algeria,16
4,05-janvier-1997,1997,Violence against civilians,Northern Africa,Algeria,18
...,...,...,...,...,...,...
65530,25-octobre-1998,1998,Violence against civilians,Eastern Africa,Kenya,28
65531,02-novembre-1998,1998,Protests,Eastern Africa,Kenya,0
65532,10-novembre-1998,1998,Battles,Eastern Africa,Kenya,0
65533,14-novembre-1998,1998,Battles,Eastern Africa,Kenya,0
65534,14-novembre-1998,1998,Battles,Eastern Africa,Kenya,0

In [34]:
dfless["EVENT_TYPE"].value_counts()
dfless["REGION"].value_counts()

Middle Africa      33945
Eastern Africa     15592
Northern Africa     9936
Western Africa      5985
Southern Africa       77
Name: REGION, dtype: int64